<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <h2>Todas as anotações ❤️</h2>
    {{#each anotacao}}
    <div class="anotacao-container">
            <div class="data-anotacao">
                
                <h3>{{formatDate this.dataCriacao}}</h3>
                <div class="editar-remover">

                
                    <a href="/edit/{{this.id}}" class="editar-button">
                        <i class="bi bi-pencil-fill"></i>
                    </a>

                <form action="/delete" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button class="remover-button" type="submit">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </form>
                </div>
            </div>
            <div class="caixa-anotacao">
                <p class="texto-anotacao">{{this.conteudo}}</p>
            </div>
    </div>
    {{/each}}
    <a href="/add" class="botao-criaranotacao">Criar Anotação</a>
    <a href="/sobre" class="botao-sobre">sobre esse diario</a>


</body>
</html>