<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Todas as anotações ❤️</h2>
    <div class="anotacao-container">
        {{#each anotacao}}
            <div class="data-anotacao">
                <h3>TEMPLATE HORA E DIA</h3>
            </div>
            <div class="caixa-anotacao">
                <p class="texto-anotacao">{{this.conteudo}}</p>
            </div>
        {{/each}}
    </div>
    <a href="/add" class="botao-criaranotacao">Criar Anotação</a>


</body>
</html>