<h1>Digite o que você quer rs</h1>
<a href="/" class="botao-voltar"><i class="bi bi-box-arrow-left"></i>Voltar</a>
<div class="form-container">
  <form action="/add" method="POST">
    <textarea class="text-box" name="conteudo"></textarea>
    <input type="submit" value="Criar" class="submit-button">
  </form>
</div>
