<h1>Digite o que você quer rs</h1>
<a href="/" class="botao-voltar">Voltar</a>
<div class="form-container">
  <form action="/add" method="POST">
    <textarea class="text-box" name="conteudo" required="true"></textarea>
    <input type="submit" value="Criar" class="submit-button">
  </form>
</div>
