<h1>FELIZ 6 MESES ❤️</h1>
<a href="/" class="botao-voltar">Voltar</a>
<div class="texto-sobre">
    <p>Esse diário é meu presente de seis meses para você meu bem. 
        Ultimamente eu estava com a mente nesse mundo da programação web e tals, daí quis fazer essa aplicaçãozinha simples pra você usar sabe.
        Sou muito grato por estar ao seu lado nessa jornada e espero que a gente seja aquele casal de velinhos fofos que vão numa cafeteria juntos.
        Eu te amo na intensidade da expansão do universo!
    </p>
    <h2>TE AMOO MUITOOOOOO</h2>
</div>