<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML, CSS and JavaScript demo</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav class="navbar">
    <h2>Diário da nana</h2>
  </nav>
  <div class="container-principal">
     {{{ body }}}
  </div>
</body>
</html>